<a href="https://colab.research.google.com/github/Kaniz20/Python_Practice_for_Beginners/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop in Python

- Used to **iterate over a sequence** â†’ string, list, set, dictionary, tuple, or any iterable object  

#Syntax:
```python
for variable_name in sequence:
    print(variable_name)

#For Strings Sequence

In [1]:
name="kaniz Fatema Anika"

In [2]:
for vari_name in name:
  print(vari_name)

k
a
n
i
z

F
a
t
e
m
a

A
n
i
k
a

#For List Sequence

In [4]:
list_name=[22,'anika','cse',1,2,3]

In [5]:
for list_vari in list_name:
  print(list_vari)

22
anika
cse
1
2
3

In [6]:
numbers=[1,2,5,7,8,30,50]
sum=0
for num in numbers:
  sum=sum+num
print(sum)
print("Summation :",sum)

103
Summation : 103

In [7]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [8]:
for y in range(5,10,2):
  print(y)

5
7
9